<% layout("layouts/boilerplate") %>
<div class="container">
    <h1>All Listings Present</h1>
    <% for (let listing of allListings) { %>
        <div class="card-body">
            <h5><%= listing.name %></h5>
            <p>
                <%= listing.pricing.free %> <br>  
                <%= listing.rating %>
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <br>
    <% } %>
</div>


