<% layout("layouts/boilerplate") %>
<body>
    

    <!-- Hero Section -->
    <div class="container">
        <div class="hero">
            <h1>Welcome to API Market</h1>
            <p>Your one-stop destination for discovering and using APIs</p>
            <form action="/apiListings" method="get">
                <button >Explore APIs</button>
            </form>
            
        </div>
    </div>
    

    <!-- Footer -->
    
</body>

